.border-solid {border:1px solid #000000;}
.flex {display:flex;}
.block {display:block;}
.relative {position:relative}
.float-right {float:right}
.pad20 {padding-left:20px;padding-right:20px}
.pad50 {padding-left:50px}
.sec-img {width:150px;height:150px}
.oneline {height:24px}
.w200 {width:200px}
.w150 {width:150px}
.w60pc {width:60%}
.w50pc {width:50%}
.w40pc {width:40%}
.margin30 {margin:30px}
.centerTXT {text-align:center}
.rightTXT {text-align:right}
.mgZERO-bottom {margin-bottom:0px}

#cred-lang {position:absolute;left:600px;top:20px}
#big {width:900px;height:800px;left:60px}
  #left {width:600px}
  	#maincan {width:600px;height:600px;background-color:Midnightblue}
			#marcagrau {position:relative;top:-600px;left:30px;color:white}
			#terra {position:relative;left:250px;top:-410px;}
				#terrain {transform:rotate(0deg)}
			#sombra{mask: url(#sombramask);}
		#lebo {height:200px}
			#lebo p {text-align:center}
			#animationController {width:100%;}
			input[type=range] {width:100%}
		#changeTime {line-height:21px;width:137px}
		#changeTime .flex {}
			#changeMenu {}	
			#changeTime > button {width:21px;height:21px}
	#right {width:300px}
		#right > div { height:50% }
		#second {background-color:black}
#about {width:900px;height:800px;left:60px}
